/* FONT 
	-------------------------------- */

/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v20-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v20-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* BASE 
	-------------------------------- */
body {
  /* max-width: 2400px; */
  margin: 0 auto;
  background-color: #fdfdfd;
  transition: background-color 1s ease;
}

html {
  scroll-behavior: smooth;
}

/* HEADER
	-------------------------------- */

/* Hero section */

.box {
  position: absolute;
  padding: 0 0 0 60%;
}

/* @media (max-width: 2400px) {
  .box {
    right: 0;
  }
} */

@media (max-width: 900px) {
  .box {
    display: none;
  }
}

.site-header {
  display: flex;
  max-width: 1440px;
  margin: auto;
  background-color: #fbdf44;
}

@media (max-width: 780px) {
  .site-header {
    display: block;
  }
}

.hero-bg {
  background: linear-gradient(to left, #fbdf44 50%, #2c313c 50%);
}

/* Nav */

/* .nav-dektop {
  height: 58px;
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  align-content: space-between;
  padding: 0 20px;
} */

.nav-dektop {
  height: 58px;
  background-color: #fdfdfd;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  align-content: space-between;
  padding: 0 20px;
  position: relative; /* Ensure positioning context */
  overflow: hidden;
}

/* Use a pseudo-element to extend the background */
.nav-dektop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #fdfdfd;
  z-index: -1; /* Put it behind the nav items */
}


@media (max-width: 780px) {
  .nav-dektop {
    display: none;
  }
}

/* Nav Mobile */

.mob-title {
  padding: 0 72px 0 0;
  background-color: #2c313c;
  color: #fdfdfd;
  text-align: right;
}

@media (min-width: 781px) {
  .mob-title {
    display: none;
  }
}

.myNav2 {
  padding: 14px 16px;
  min-height: 50px;
  overflow: hidden;
  background-color: #2c313c;
  position: fixed;
  top: 0;
  right: 0;
}

@media (min-width: 781px) {
  .myNav2 {
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #2c313c;

  text-decoration: none;
  font-size: 22px;
}

.overlay a {
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.overlay a:hover,
.overlay a:focus {
  color: #fbdf44;
}

.overlay .active {
  color: #fbdf44;
}

/* new */

.nav-style {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  color: #2c313c;
}

.nav-style:hover {
  color: #fbdf44;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .nav-style {
    font-size: 22px;
  }
}

/* @media (max-width: 1025px) {
  .nav-style {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .nav-style {
    font-size: 18px;
  }
} */

/* Nav End*/

.title-box {
  display: flex;
}

@media (max-width: 780px) {
  #title-w {
    max-width: 450px;
  }
}

@media (max-width: 420px) {
  #title-w {
    max-width: 300px;
  }
}

.hero-text-left {
  color: #fdfdfd;
  padding: 88px 30px 200px 30px;
  display: flex;
}

@media (max-width: 1084px) {
  .hero-text-left {
    padding: 88px 30px 120px 30px;
  }
}

@media (max-width: 780px) {
  .hero-text-left {
    padding: 22px 30px 0 30px;
  }
}

@media (max-width: 638px) {
  .hero-text-left {
    padding: 22px 30px 0 0;
  }
}

/* @media (max-width: 420px) {
  .hero-text-left {
    max-width: 300px;
  }
} */

.hero-left {
  width: 40%;
  background-color: #2c313c;
}

@media (max-width: 780px) {
  .hero-left {
    width: 100%;
  }
}

.svg-hero-left {
  min-width: 20px;
  margin: 0 10px 0 0;
}

.hero-text-right {
  color: #2c313c;
  padding: 30px 30px 120px 30px;
}

@media (max-width: 638px) {
  .hero-text-right {
    padding: 30px 30px 120px 0;
  }
}

.hero-right {
  width: 60%;
  /* display: flex;
  flex-direction: column;
  align-content: flex-end; */
  background-image: url(/assets/header-cover-img-yellow-gradient.png);
  background-repeat: no-repeat;
}

@media (max-width: 780px) {
  .hero-right {
    width: 100%;
  }
}

.portrait {
  width: 600px;
  align-self: flex-end;
}

@media (max-width: 2600px) {
  .portrait {
    width: 540px;
  }
}

@media (max-width: 1800px) {
  .portrait {
    width: 460px;
  }
}

@media (max-width: 1200px) {
  .portrait {
    width: 380px;
  }
}

@media (max-width: 420px) {
  .portrait {
    width: 320px;
  }
}

.paper-btm {
  margin-top: -7.5%;
  display: block;
  padding: 0 0 60px 0;
}

@media (max-width: 1200px) {
  .paper-btm {
    padding: 0 0 30px 0;
  }
}

.paper-vw {
  width: 100vw;
}

/* FOOTER
	-------------------------------- */

@media (max-width: 400px) {
  .txt-pad {
    padding-top: 20px;
  }
}

.nav-style2 {
  margin: 10px 30px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media (max-width: 1204px) {
  .nav-style2 {
    font-size: 15px;
  }
}

@media (max-width: 572px) {
  .nav-style2 {
    font-size: 14px;
  }
}

.nav-style2:hover {
  color: #f1f1f1;
  transition: 0.3s;
}

.nav-footer {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-footer .active {
  color: #f1f1f1;
}

.site-footer {
  background-color: #2c313c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.paper-top {
  display: block;
  max-width: 100vw;
}

.copy-txt {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  padding: 10px 0 0 0;
}

@media (max-width: 1204px) {
  .copy-txt {
    font-size: 15px;
  }
}

@media (max-width: 572px) {
  .copy-txt {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .copy-txt {
    flex-direction: column;
    align-items: center;
  }
}

/* Social icons */

.social-container {
  margin: 60px 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icon {
  margin: 0 30px;
}

@media (max-width: 400px) {
  .social-icon {
    margin: 0 20px;
  }
}

#linkedin:hover #linkedin_background {
  fill: #0a66c2;
  transition: 0.3s;
}

#linkedin:hover #linkedin_group {
  fill: #fff;
  transition: 0.3s;
}

#dribbble:hover #dribbble_background {
  fill: #ea4c89;
  transition: 0.3s;
}

#dribbble:hover #dribbble_ball {
  fill: #c32361;
  transition: 0.3s;
}

#strava:hover #strava_background {
  fill: #fc4c02;
  transition: 0.3s;
}

#strava:hover #strava_top {
  fill: #fff;
  transition: 0.3s;
}

#strava:hover #strava_bottom {
  fill: #fff;
  opacity: 0.6;
  transition: 0.3s;
}

#git:hover #git-background {
  fill: #000;
  transition: 0.3s;
}

#git:hover #git-icon {
  fill: #fff;
  transition: 0.3s;
}

/* CONTENT
	-------------------------------- */

/* Work content */

.quote {
  color: #676a75;
  width: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

@media (max-width: 1200px) {
  .quote {
    margin: 45px auto;
  }
}

q {
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 300;
}

@media (max-width: 420px) {
  q {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  #port-swap {
    content: url("/assets/luke-servini-web-designer-portrait.png");
  }
}

.img-con {
  padding: 30px 0;
  margin: 0 auto;
  max-width: 720px;
}

.img-con2 {
  padding: 30px 0 75px;
  margin: 0 auto;
  max-width: 720px;
}

/* .img-shadow {
  box-shadow: 0 15px 20px -15px rgb(0 0 0 / 29%);
} */

.mob-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .mob-container {
    flex-direction: column;
  }
}

.img-container {
  width: 40%;
  align-self: center;
}

@media (max-width: 1450px) {
  .img-container {
    width: 100%;
    padding: 0 0 45px;
  }
}

.text-block {
  width: 60%;
  padding: 0 90px 0 50px;
  align-self: center;
}

@media (max-width: 1450px) {
  .text-block {
    width: 100%;
    max-width: 740px;
    align-self: center;
    padding: 0 20px;
  }
}

.text-block2 {
  padding: 0 20px 45px;
  max-width: 740px;
  margin: 0 auto;
}

.text-block3 {
  padding: 0 20px;
  max-width: 740px;
  margin: 0 auto;
}

#center {
  margin: 0 auto;
}

.img-space {
  padding: 60px 0 0 0;
  max-width: 1400px;
  margin: 0 auto;
}

.work-img-space {
  padding: 60px 0 75px 0;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .work-img-space {
    padding: 30px 0 75px 0;
  }
}

.text-split {
  display: flex;
}

@media (max-width: 550px) {
  .text-split {
    flex-direction: column;
  }
}

.split-item {
  width: 30%;
}

@media (max-width: 550px) {
  .split-item {
    width: 100%;
  }
}

.split-item2 {
  width: 70%;
}

@media (max-width: 550px) {
  .split-item2 {
    width: 100%;
  }
}

.img-des {
  padding: 20px 20px 0;
  text-align: center;
}

.link-style {
  text-decoration: underline;
}

.link-style:hover {
  color: #000000;
  transition: 0.3s;
}

/* TEXT
	-------------------------------- */

h2 {
  font-size: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0 0 30px 0;
}

@media (max-width: 1204px) {
  h2 {
    font-size: 63px;
  }
}

@media (max-width: 572px) {
  h2 {
    font-size: 54px;
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media (max-width: 1204px) {
  h3 {
    font-size: 40px;
  }
}

@media (max-width: 572px) {
  h3 {
    font-size: 36px;
  }
}

@media (max-width: 420px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 15px 0;
}

@media (max-width: 420px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 15px 0 15px 0;
  line-height: 1.6;
}

@media (max-width: 1204px) {
  p {
    font-size: 15px;
  }
}

@media (max-width: 572px) {
  p {
    font-size: 14px;
  }
}

.h3-body {
  padding: 30px 0 0 0;
}

.h2-body {
  padding: 15px 0;
}

.light-text {
  color: #676a75;
}

.light-text2 {
  color: #a3a2ad;
}

.dark-text {
  color: #2c313c;
}

/* svg title */

@media (max-width: 1204px) {
  #h1-a {
    height: 148px;
  }
}

@media (max-width: 1083px) {
  #h1-a {
    height: 222px;
  }
}

@media (max-width: 780px) {
  #h1-a {
    height: 148px;
  }
}

@media (max-width: 572px) {
  #h1-a {
    height: 126px;
  }
}

@media (max-width: 420px) {
  #h1-a {
    height: 84px;
  }
}

@media (max-width: 1204px) {
  #h2-a {
    height: 94px;
  }
}

@media (max-width: 992px) {
  #h2-a {
    height: 141px;
  }
}

@media (max-width: 780px) {
  #h2-a {
    height: 94px;
  }
}

@media (max-width: 572px) {
  #h2-a {
    height: 84px;
  }
}

@media (max-width: 522px) {
  #h2-a {
    height: 126px;
  }
}

@media (max-width: 420px) {
  #h2-a {
    height: 54px;
  }
}

@media (max-width: 374px) {
  #h2-a {
    height: 81px;
  }
}

/* FORMS & BUTTONS
	-------------------------------- */

/* Hover Button */

.hover-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.hover-btn-absolute {
  position: absolute;
}

/* … */

/* IMAGES
	-------------------------------- */
